@mixin h5() {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l() {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */

  display: flex;
  align-items: center;

  /* color-dark-l */

  color: #545454;
}
@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
  .header_mobile{
    display: none;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .start-screen {
    height: 1165px;
    padding-top:  15.3rem;
  }
  .wrapper {
    max-width: 708px;
  }

  .header {
    top: 30px;
  }

  .start-screen-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
  }
  .image-container {
    height: auto;
    width: 72.2%;
    margin-top: 10rem;
  }
  .about {
    padding: 70px 0 100px;
  }
  .start-screen-text {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 460px;

    &__button {
      margin: 42px auto 0;
    }
  }

  .wrapper-about {
    padding: 0 139px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &__img {
      margin-top: 80px;
    }
  }

  .pets {
    &__heading {
      text-align: center;
      width: 40rem;
    }
  }

  .donation-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .donation-wrapper__img {
    margin-top: 60px;
  }

  .footer-wrapper__img {
    margin-top: 4rem;
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-block:nth-child(2) {
    margin-left: 0;
  }

  .footer-content {
    justify-content: space-between;

    margin-bottom: 0;
    padding: 0 30px;
  }

  .help-wrapper {
    padding: 0;
  }

  .pet-cards {
    overflow: hidden;
    max-width: 520px;
    display: flex;
  }

  .help-container {

    column-gap: 6rem;
    row-gap: 5.5rem;
  }


  //popup
  .b-popup-content{
    width: 650px;
    height: 350px;

    border-radius: 9px;
  padding: 10px;
  }

  .popup-pet__imageBlock{
    width: 350px;
    height: 350px;
  }
  .popup-pet__textBlock{
    margin: 0;
  }
  .popup-pet__name{
    margin: 0;
  }
  .popup-pet__description{
    margin-top: 20px;
    font-size: 1.3rem;
  }
  .popup-pet__properties{
  margin-top: 2rem;
  }
  .popup-pet__properties__item{
    margin-top: .5rem;
  }
  .popup__cover{
    margin: 0;
  }
  .b-popup-content{
    margin: 220px auto;
  }

  .popup__cover{
    width: 100vw;
  }
  .popup-pet__closeBtn{
    right: 50px;
      top: -50px;
  }
}
































//
@media screen and (max-width: 766px) {

//   .popup-pet__imageBlock{
// display: none;
//   }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    list-style: none;
    &__item {
      margin-top: 40px;
      margin-left: 0;
    }

    &__item a {
      @include paragraph-l();
      text-decoration: none;

color: #CDCDCD;
      font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 160%;
    }

  }


    .start-screen-text{
        margin-top:0;
width: 300px !important;
max-width: 300px !important;
min-width: 300px !important;
    }
    .start-screen-text__heading{
        display: flex;
        flex-direction: column;
    }
    .start-screen-text__subheading{
        width:300px;
    }
    .start-screen{
        padding-top: 18rem;
    }
  .wrapper {
    max-width: 300px;
  }

  .header-wrapper {
    z-index: 100;
    justify-content: left;
  }
  nav {
    display: none;
    flex-direction: column;
  }
  .burger-menu {
    display: block;
    background: none;
    border: none;
    margin-left: 4.3rem;
  }

  .burger-menu img {
    height: 22px;
    width: 30px;
    color: #f1cdb3;

  }
  .start-screen-wrapper {
    flex-direction: column;
  }

  .heading {
    font-size: 2.5rem;
    text-align: center;
    width: 300px;
  }
  .text-block {
    width: 100%;
    align-items: center;
  }
  .header {
    top: 30px;
  }

  .start-screen {
    padding-top: 15rem;
  }
  .image-container {
    margin-top: 105px;

        width: 87%;


  }
  .subheading {
    text-align: center;
  }
.wrapper-about__img{
    width: 90%;
    height: 90%;
}
  // about
.about {
    padding:40px 0 ;
}
  .about-text{
      padding: 0 15px;
  }
  .about-text__subheading {
    width: 100%;
  }
  .about-text__heading {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .wrapper-about__img {
    margin-top: 7rem;
  }
  .wrapper-about {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &__img {
      margin-top: 42px;
    }
  }

  // pets

  .pets__heading {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }

  .pet-cards{
      max-width: 270px;
      margin: 0 auto;
  }
  // help

  .help-wrapper{
    padding: 0 ;
  }

  .help-container{ padding-top: 4.2rem;
    column-gap: 3rem;
    row-gap: 3rem;
    flex-direction: row;

  }
.button-slider{
    position: absolute;
    top:2420px;
    right:70px;
}
.button-slider:nth-child(1){
    right:200px;
}
// .button-slider:nth-child(5){
//     left:50px;
// }
  // donation
  .donation{
      padding: 42px 0;
  }
  .donation-information__title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .donation-information__subtitle {
    @include paragraph-l();
    margin: 20px auto 0;
    letter-spacing: 0;
  }
  .donation-wrapper {
    width: 100%;
    padding:  0;
    display: flex;
    flex-direction: column-reverse;
  }

  .input-container {
    width: 281px;
    margin: 0 auto;
  }

  .input-container a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
  }

  .donation-information__info {
    width: 300px;
    margin: 20 auto 0;
  }

  .donation-wrapper__img {
margin-top: 42px;
    width: 87%;
  }

  .help {
    padding: 42px 0;
    &-title {
      font-size: 2.5rem;
    }
  }
  .help-container {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
  }


  .help-item {
    margin-bottom: 30px;
    width: 130px;
  }
  .help-item__title {
    @include h5();
  }
  .help-container {

    margin-top: 0;
  }
  // footer
  .footer-wrapper__img {
    margin-top: 65px;
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .donation-information{
      margin-left: 0;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .pets__content__heading {
    width: 30rem;
    font-size: 2.5rem;
  }
.pets-cards-slider{
    margin-bottom: 110px;
}
  .pagination {
    margin-top: 4.2rem;
    width: 30rem;
  }
  .pets__content {
    padding: 4.2rem 0;
  }

  .footer-wrapper__img {
    margin-top: 40px;
  }

  .footer-block__title {
    font-size: 2.5rem;
    text-align: center;
  }
  .footer-block:nth-child(2) {
    margin-left: 0;
  }

  .pet-card__image-container > img{
    width: 68%;
    height: 80%;
  }

 .pet-card__title{
   margin: 2.5rem 0;
 }

 .pets{
    padding-bottom: 42px !important;
}
.footer{

    padding-top: 4.6rem;
}
.footer-block{
    padding-top: 0;
}
.footer-wrapper__img{
    width:86%;
    height: auto;
}
.footer-content{
margin-bottom: 0;
}
.location{
    margin-top: 4rem;
}

//popup
.b-popup-content{
  width: 240px;
  height: 341px;

  border-radius: 9px;
padding: 10px;
}

.popup-pet__imageBlock{
  display: none;
}
.popup-pet__textBlock{
  margin: 0;
}
.popup-pet__name{
  margin: 0;
}
.popup-pet__description{
  margin-top: 20px;
  font-size: 1.3rem;
}
.popup-pet__properties{
margin-top: 2rem;
}
.popup-pet__properties__item{
  margin-top: .5rem;
}
.popup__cover{
  margin: 0;
}
.b-popup-content{
  margin: 220px auto;
}

.popup__cover{
  width: 100vw;
}
.popup-pet__closeBtn{
  right: 50px;
    top: -50px;
}
}
