:root {
  --main-color: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-l: #545454;
  --color-dark-m: #b2b2b2;
  --color-dark-xl: #4c4c4c;
  --color-dark-xl2: #444444;
  --color-dark-xl3: #292929;
  --main-font: Georgia;
  --sub-font: Arial;
}
$color-dark-l: #545454;
$color-dark-3xl: #292929;
$color-light-xl: #ffffff;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-dark-s: #cdcdcd;

$font-main:Georgia;
$font-sub:Arial;


$gradient: url(../../assets/noise_transparent@2x.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
  #211f20;
$gradient-main: url(../../assets/noise_transparent@2x.png),
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;

@mixin button() {
  padding: 15px 45px;
  width: 207px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  outline: none;

font-style: normal;
font-weight: normal;
font-size: 1.7rem;
line-height: 130%;

letter-spacing: 0.2rem;
color:  $color-dark-3xl;
}


.button_primary {
  @include button;
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-light;
  }
}

.button_secondary {
  @include button;

  height: 52px;
  border: 2px solid $color-primary;
  background-color: transparent;
  letter-spacing: 0.06em !important;
  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }
}

:root {
  font-size: 10px;
}

@mixin h3 {
  //styleName: h3;
  font-family: $font-main;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  letter-spacing: 0.06em;
  // text-align: center;
}
@mixin h4() {
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06rem;
}
@mixin h5() {
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06rem;
}

@mixin paragraph-l() {
  font-family: $font-sub;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  /* color-dark-xl */
  color: $color-dark-3xl;
}

@mixin slider-button {
  padding: 1.9rem;
  border: 3px solid #f1cdb3;
  border-radius: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 0.3rem var(--main-color);
  cursor: pointer;

  &:hover {
    box-shadow: none;
    background-color: var(--color-primary-light);
  }
}



main {
  background-color: $color-light-l;
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

.header {
  width: 100%;
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
  background-color: $color-light-xl;
  height: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.header-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
z-index: 100;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
  &__title {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  &__subtitle {
    font-family: $font-sub;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 110%;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: $color-dark-3xl;
    margin-top: 1rem;
  }
}
.burger-menu{

  display: none;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    &__item{
      margin-left: 35px;

    }

    &__item a {
      @include paragraph-l();
      text-decoration: none;

      color: $color-dark-l;
    }

    &__item_active{
      border-bottom: 3px solid $color-primary;
      box-sizing: content-box;
      color:$color-dark-3xl;
    }


    &__item_active>a{
      color:$color-dark-3xl;
    }
  }

// pets
.pets__content {
  width: 100%;
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__heading {
    @include h3();
    width: 40rem;
    color: $color-dark-l;
    text-align: center;
  }
  &__heading span {
    display: inline-block;
    width: 100%;
  }
  &__cards {
    column-gap: 4rem;
    row-gap: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-flow:wrap;
    margin-top: 6rem;
  }
}
.pet-card {
  
    display: flex;
    flex-direction: column;
    background-color: $color-light-s;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 9%;
  &:hover{
    background-color:$color-light-xl ;
  }

  &__title{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;



    color: #545454;
      margin: 3rem 0;
  }
  &__image-container{
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// paginator
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 34rem;
  margin-top: 60px;
}

.button-paginator {


  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  //styleName: h4; box-shadow: inset 0 0 0 0.3rem var(--main-color);
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 115%;
  text-align: center;
  color: #292929;

  &_active{
    background-color: $color-primary;
    box-shadow: none;

    &:hover{
      background-color: $color-primary !important;
    box-shadow: none;
    }
  }
  &:hover {
    box-shadow: none;
    background-color: var(--color-primary-light);
  }

  &:disabled {
    color: #CDCDCD;
    border-color: #CDCDCD;
    box-shadow: inset 0 0 0 0 0.3rem $color-dark-s;
  }
  &:disabled:hover {
    border-color: #cdcdcd;
    background-color: transparent;
    cursor: auto;
  }
}



// Footer
.footer {

  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: $gradient;

 &-wrapper{
  flex-direction: row;
}

  &-content{
    display: flex;
    flex:1;


    flex-direction: row;
    width: 100%;
    margin-bottom: 6rem;
    padding-right: 16rem;
  }
}
.footer-wrapper__img{
  margin-top: 1.6rem;
}
.footer-block {
  display: flex;
  padding-top: 35px;
  flex-direction: column;
  &__title {
    @include h3();
    color: $color-light-xl;
    width: 280px;
  }
  &__title span{
display: block;
  }
  &__item {
    @include h4();
    color: $color-primary;
    margin-top: 3.9rem;
    display: inline-block;
    height: 32px;
    display: flex;
    align-items: center;
  }
  &__item a {
    color: $color-primary;
    text-decoration: none;
  }
  &__item img {
    margin-right: 2rem;
  }
  &__item span{
    display: block;
  }
}

.location{
  margin-left: 155px;
}


// Menu
.header_mobile {
  width: 320px;
  height: 800px;
  position: fixed;
  right: -100%;
  top: 0px;
  padding: 25rem 0 1rem;
  text-align: center;
  transition: 1s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  border-radius: 0 0 1rem 1rem;
  z-index: 100;
  background:  #292929;
}

.nav.nav_mobile {
  display: block;
}

.nav-menu.nav_mobile {
  display: flex;
  flex-direction: column;
}

.header__mobile_show {
  right: 0px;

}

.rotate {
  transform: rotate(90deg);
}

.burgerIcon {
  transition: 1s;
  outline: none;
}

.burger-menu {

  display: none;
}

// .nav-menu {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   align-items: center;
//   list-style: none;

//   &__item {
//     margin-left: 35px;
//   }

//   &__item a {
//     @include paragraph-l();
//     text-decoration: none;


//   }

//   &__item_active {
//     border-bottom: 3px solid $color-primary;
//     box-sizing: content-box;
//   }

//   &__item_active>a {
//     color: $color-light-s;
//   }
// }

// Popup Block
.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(95, 95, 95, 0.527);
  overflow: hidden;
  position: fixed;
  top: 0px;
  visibility: hidden;
  z-index: 100;
}

.b-popup-content {

  width: 900px;
  height: 500px;

  background-color: #FAFAFA;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #000;
  display: flex;
  flex-direction: row-reverse;
  z-index: 200;
  display: relative;
}

.popup__cover {
  position: relative;
  margin: 188px auto 0px auto;
  width: 900px;
}

.popup-active {
  visibility: visible !important;
}

.popup-pet__closeBtn {
  position: absolute;
  width: 52px;
  height: 52px;
  right: -50px;
  top: -50px;
  cursor: pointer;
  /* color-primary */
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: transparent;
  outline: none;
}





.popup-pet__textBlock {
  width: 400px;
  margin: 0 20px 0 30px;
}

.popup-pet__name {
  margin-top: 5rem;
  @include h3();
}

.popup-pet__type {
  @include h4();
  margin-top: 1rem;
}

.popup-pet__description {
  margin-top: 4rem;
  @include h5();
}

.popup-pet__properties {
  margin-top: 4rem;
  list-style: url('../../assets/icons/dot.svg');

  &__item {
    @include h5();
    margin-top: 10px;
  }
}

.popup-pet__imageBlock {
  height: 500px;
  width: 500px;


  border-radius: 9px 0px 0px 9px;
}


//
.animate{
  opacity: 0;//or anything you need
    transition: opacity 1s;
}